# exlcude sample data files
data/
# exclude object files
*.[oa]
# exclude executables
a.out
fasttiffcrop
tiff2jpg
*.exe
# exclude input files
*.in
# exclude any jpg or tif files in directory
*.jpg
*.tif
*.tiff
